/* Styles for screens smaller than or equal to 768  */
@media (max-width: 768px) {
   
  
    .menuItems {
      
      display: none;
    }
    .watchvedio{
        display: none;
    }
    .secdiv{
        margin-top: 100px;
    }
    .sectionten{
      display: none;
    }
   
  }
  




@media (min-width: 768px) {
   
  
    .icon-for-small-screens{
        display: none; 
      
      
    }
   
  }

  .containerr{
    position: relative;
  }
  .smalScreenMenubar{
    position: absolute;
    
   
  }
  .modalcontento{
    position: absolute;
    z-index: 11;
  }
  .modalcontente{
    position: absolute;
    z-index: 11;
   
  }
.background-part{
    /* background-image: url(https://www.ombrulla.com/images/home/position-statement.svg);
  background-attachment: fixed; */
  background: linear-gradient(to bottom, #03609a5f , #ffffff );
}
  
